In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json
from math import isnan
%matplotlib inline

In [17]:
def all_values_equal(table, column, check_nan=True, value = None):
    """
    по умолчанию проверяет во всех ли таблицах данная колонка Nan;
    
    
    если check_nan = False, проверяет, в каждой ли таблице одинаковое значение 
    в данной колонке, но необязательно одно для всех таблиц;
    
    
    если  задан value, проверяет во всех ли таблицах в этой колонке именно такое значение;
    
                   
    возвращает название колонки, результат функции и название курса, где первый раз было невыполнено условие


    """
    if check_nan and value is not None:
        raise Exception('Поставьте check_nan=False или уберите значение value')
        
    subjects = ['math','physics','linguo']
    coursers = [['293','294','295'], ['345','346'],['267','268']]
    for s in enumerate(subjects):
        for c in coursers[s[0]]:
            path = f'courses_with_manual_check/{s[1]}/{c}/'
            df =pd.read_csv(path+f'{table}.csv')
            if check_nan:
                if df[column].isna().sum() != df.shape[0]:
                    return column,False, f'{s[1]}-{c}'         
            else:
                try:
                    if len(df[column].value_counts().values) != 1:
                        if value is not None:
                            if df[column].value_counts().values[0]!=value:
                                return column, False, f'{s[1]}-{c}'
                except: 
                    raise Exception(f'Нет такого столбца в {s[1]}-{c}')
        
    return column, True

In [18]:
print(all_values_equal('course_element', 'element_type', check_nan=False))
print(all_values_equal('course_element', 'is_advanced', check_nan=False, value=False)) # во всех таблицах False
print(all_values_equal('course_element', 'score', check_nan=False)) #равны между собой внутри каждой таблицы
print(all_values_equal('course_element', 'max_tries'))


print(all_values_equal('user_course_progress', 'advanced_modules_done', check_nan=False, value=0))


print(all_values_equal('user_module_progress', 'progress_failed', check_nan=False, value=0))
print(all_values_equal('user_module_progress', 'time_closed'))
print(all_values_equal('user_module_progress', 'time_done'))


print(all_values_equal('user_element_progress', 'time_started'))
print(all_values_equal('user_element_progress', 'course_element_type', check_nan=False, value='task'))
print(all_values_equal('user_element_progress', 'hints_used', check_nan=False, value=0))

('element_type', True)
('is_advanced', True)
('score', True)
('max_tries', True)
('advanced_modules_done', False, 'math-295')
('progress_failed', True)
('time_closed', False, 'physics-345')
('time_done', False, 'physics-345')
('time_started', True)
('course_element_type', True)
('hints_used', False, 'linguo-267')

Всюду __NaN__:
\
__course_element__: `max_tries`  
__user_element_progress__:`time_started`

Неинформативные поля(возможно):
\
__course_element__: `open_date`(хотя по нему не уверен, может и полезно), `close_date`, `element_type`, `score`(равны между собой внутри каждой таблицы), `is_advanced`\
**user_course_progress** : `time_created`,`time_updated`\
**user_module_progress** : `progress_failed`, `time_achieve`(кажется можно выкинуть, так как есть поле `is_achieved`), `tasks_done` дублирует `steps_done`, т.к. в нашем случае все `steps` &mdash; это `tasks`\
__user_element_progress__ :`course_element_type`, `time_achieve`(кажется можно выкинуть, так как есть поле `is_achieved`)

In [19]:
path = 'courses_with_manual_check/math/293/'
course_element = pd.read_csv(path+'course_element.csv')
course_element = course_element.drop(columns=['max_tries']).dropna()
course_element = course_element.drop(columns = ['close_date','element_type','score','is_advanced'])
course_element.head().append(course_element.tail())

         id  module_id  element_id  position            open_date
0   4333709       3454        2493        18  2021-03-23 21:00:00
1   4151007       3454        2526        11  2021-03-09 21:00:00
2   4022486       3454        2633         8  2021-03-01 08:00:00
3   5078158       3454        2637        44  2021-05-31 08:00:00
4   4722327       3454        2699        31  2021-04-28 08:00:00
39  4333729       3454       11393        20  2021-03-27 10:00:00
40  4722352       3454       11456        30  2021-04-24 08:00:00
41  4022438       3454       11609         6  2021-02-25 21:00:00
42  4722354       3454       11973        28  2021-04-19 21:00:00
43  4722355       3454       13054        27  2021-04-19 21:00:00

In [20]:
user_course_progress = pd.read_csv(path+'user_course_progress.csv').drop(columns=['time_created','time_updated'])
user_course_progress

,id,user_id,course_id,modules_achieved,advanced_modules_done,modules_closed,modules_done
0,251326,100120070111035903,293,22,0,22,22
1,251178,100119810110737205,293,20,0,19,19
2,251331,100120070111193822,293,21,0,10,10
3,251196,100120070111166725,293,22,0,22,22
4,251218,100120070111579569,293,13,0,13,13
...,...,...,...,...,...,...,...
109,305708,100120080111143974,293,17,0,17,17
110,303078,100120070111045630,293,0,0,0,0
111,303091,100120070110738313,293,2,0,0,2
112,299339,100120070111131771,293,0,0,0,0
113,299521,100120070110280079,293,0,0,0,0

`user_module_progress` нас кажется не интересует, как таргет

>Модуль с ручной проверкой отличается от обычного тем, что __все задачи в нём требуют ручной проверки__ преподавателя.
  
  
>`steps_done` —число элементов с __автоматической__ проверкой в модуле, по которым получено максимальное число баллов  

Почему `steps_done` в таблице не ноль? Ладно

In [21]:
user_module_progress = pd.read_csv(path+'user_module_progress.csv').drop(columns=['progress_failed', 'tasks_done'])
user_module_progress['achieve_reason'] = user_module_progress['achieve_reason'].fillna("haven't achieved")
user_module_progress['is_achieved'] = user_module_progress['is_achieved'].fillna(False).astype(int)

user_module_progress['is_closed'] = user_module_progress['is_closed'].astype(int)
user_module_progress['is_done'] = user_module_progress['is_done'].astype(int)



user_module_progress

,id,user_id,course_id,course_module_id,progress_current,steps_done,is_achieved,is_closed,course_progress_id,time_created,time_updated,time_closed,time_achieved,time_unlocked,time_done,is_done,achieve_reason
0,4258599,100120070111171973,293,3454,130.0,10,0,0,295079,2021-03-10 18:45:33.221355,2021-06-13 05:25:06.712449,NaN,NaN,2021-03-10 18:45:33.221355,NaN,0,haven't achieved
1,4091857,100120070111412531,293,3454,104.0,13,0,0,251197,2021-02-15 15:16:33.467243,2021-05-12 10:46:54.123536,NaN,NaN,2021-02-15 15:16:33.467243,NaN,0,haven't achieved
2,4288362,100120070110510698,293,3454,0.0,0,0,0,297852,2021-03-15 07:53:33.152413,NaN,NaN,NaN,2021-03-15 07:53:33.152413,NaN,0,haven't achieved
3,4091867,100120100111069319,293,3454,218.0,30,1,0,251184,2021-02-15 15:16:33.467243,2021-05-27 14:20:00.909789,NaN,2021-05-27 14:20:00.909789,2021-02-15 15:16:33.467243,NaN,0,solved
4,4336135,100120070111077654,293,3454,0.0,0,0,0,302793,2021-03-21 11:51:56.202819,NaN,NaN,NaN,2021-03-21 11:51:56.202819,NaN,0,haven't achieved
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,4257953,100120070111448503,293,3454,0.0,0,0,0,295007,2021-03-10 17:11:52.784012,NaN,NaN,NaN,2021-03-10 17:11:52.784012,NaN,0,haven't achieved
110,4353698,100120080110746673,293,3454,0.0,0,0,0,304476,2021-03-25 09:41:19.007677,NaN,NaN,NaN,2021-03-25 09:41:19.007677,NaN,0,haven't achieved
111,4091834,100120070110754993,293,3454,228.0,31,1,0,251449,2021-02-15 15:16:33.467243,2021-06-12 09:25:59.109609,NaN,2021-06-12 09:25:16.790533,2021-02-15 15:16:33.467243,NaN,0,solved
112,4256581,100120070111532948,293,3454,259.0,35,1,0,294867,2021-03-10 14:18:56.222065,2021-06-05 11:37:37.909807,NaN,2021-05-25 18:35:27.815664,2021-03-10 14:18:56.222065,NaN,0,solved
113,4091849,100120070110296254,293,3454,299.0,42,1,0,251469,2021-02-15 15:16:33.467243,2021-06-09 20:09:16.929461,NaN,2021-05-24 08:16:01.225188,2021-02-15 15:16:33.467243,NaN,0,solved

In [22]:
user_module_progress.isna().sum()/user_module_progress.shape[0]

id                    0.000000
user_id               0.000000
course_id             0.000000
course_module_id      0.000000
progress_current      0.000000
steps_done            0.000000
is_achieved           0.000000
is_closed             0.000000
course_progress_id    0.000000
time_created          0.000000
time_updated          0.543860
time_closed           1.000000
time_achieved         0.885965
time_unlocked         0.000000
time_done             1.000000
is_done               0.000000
achieve_reason        0.000000
dtype: float64

In [23]:
user_element_progress = pd.read_csv(path+'user_element_progress.csv').drop(columns=['course_element_type','time_started'])
user_element_progress['achieve_reason'] = user_element_progress['achieve_reason'].fillna("haven't achieved")
user_element_progress['is_achieved'] = user_element_progress['is_achieved'].fillna(False).astype(int)
user_element_progress

,id,user_id,course_id,course_module_id,course_element_id,progress_current,is_achieved,hints_used,tries_count,module_progress_id,time_created,time_updated,time_closed,time_achieved,achieve_reason
0,96461094,100120070111566368,293,3454,3892,7.0,1,0,1,4091856,2021-05-21 10:16:20.707856,2021-06-11 07:33:25.957219,2021-06-11 07:33:25.959167,2021-06-11 07:33:25.959167,solved
1,96461097,100120080111377852,293,3454,2637,7.0,1,0,1,4091852,2021-05-21 10:16:20.707856,2021-06-11 07:30:33.504585,2021-06-11 07:30:33.506627,2021-06-11 07:30:33.506627,solved
2,96461175,100120090110736982,293,3454,2637,7.0,1,0,1,4091854,2021-05-21 10:16:21.607894,2021-06-11 07:30:07.341239,2021-06-11 07:30:07.343554,2021-06-11 07:30:07.343554,solved
3,96461178,100120090110736982,293,3454,3892,7.0,1,0,1,4091854,2021-05-21 10:16:21.607894,2021-06-11 07:29:41.535418,2021-06-11 07:29:41.537406,2021-06-11 07:29:41.537406,solved
4,96461112,100120070110754993,293,3454,3892,7.0,1,0,1,4091834,2021-05-21 10:16:21.126957,2021-06-10 07:42:26.286960,2021-06-10 07:42:26.294751,2021-06-10 07:42:26.294751,solved
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,79509062,100120080111565481,293,3454,4249,7.0,1,0,1,4091843,2021-02-15 15:16:33.467243,2021-02-20 20:35:11.210408,2021-02-20 20:35:11.207655,2021-02-20 20:35:11.207655,solved
5012,79508935,100120070111416092,293,3454,4251,7.0,1,0,1,4091811,2021-02-15 15:16:33.467243,2021-02-19 17:38:56.012436,2021-02-19 17:38:56.013306,2021-02-19 17:38:56.013306,solved
5013,79509064,100120070111166725,293,3454,4150,7.0,1,0,3,4091844,2021-02-15 15:16:33.467243,2021-02-18 18:33:30.509323,2021-02-18 18:33:30.510777,2021-02-18 18:33:30.510777,solved
5014,79508957,100120080110738241,293,3454,5059,7.0,1,0,1,4091817,2021-02-15 15:16:33.467243,2021-02-17 19:11:21.166433,2021-02-17 19:11:21.170167,2021-02-17 19:11:21.170167,solved
5015,79508939,100120070111571194,293,3454,4251,0.0,0,0,0,4091812,2021-02-15 15:16:33.467243,NaN,NaN,NaN,haven't achieved

In [24]:
user_element_progress[['progress_current','hints_used','tries_count','is_achieved']].describe()

       progress_current  hints_used  tries_count  is_achieved
count       5016.000000      5016.0  5016.000000  5016.000000
mean           1.239234         0.0     0.354864     0.156898
std            2.593916         0.0     0.837118     0.363741
min            0.000000         0.0     0.000000     0.000000
25%            0.000000         0.0     0.000000     0.000000
50%            0.000000         0.0     0.000000     0.000000
75%            0.000000         0.0     0.000000     0.000000
max            7.000000         0.0     7.000000     1.000000

## Рандомные ответы детей

In [25]:
for i in range(5):
    rpath = f'courses_with_manual_check/math/29{3+np.random.randint(0,2)}/'
    solution_log = pd.read_csv(rpath+'solution_log.csv')
    text = json.loads(solution_log['users_answer'].values[np.random.randint(0,solution_log.shape[0])])['solution']['message']
    while(text==""):
        text = json.loads(solution_log['users_answer'].values[np.random.randint(0,solution_log.shape[0])])['solution']['message']
    print(text)
    print('-'*115)

Мария Николаевна Ткаченко
27 марта, 18:32
Пример приведет верный. Отсутствует доказательство, что меньшим количеством обойтись нельзя.

Привожу доказательство, что меньшего кол-ва хороших пар чем 32 пары быть не может:
Минимальное количество "хороших" пар цветов образуется в случае, когда любое движение коня соединяет один из цветов от 1 до 32 и 33-тий цвет. Количество таких пар теоретически может быть равно 32, например, 1-33, 2-33, 3-33, 4-33,... , 31-33, 32-33, т.е. всего 32 пары. Поскольку все указанные 32 пары могут быть расположены (вмещаются) на шахматной доске таким образом, что ход коня между любыми двумя цветами от 1 до 32 всегда проходит через 33 цвет, например, как показано в приведенном примере, отсюда вытекает, что минимальное количество "хороших" пар равно 32.
-------------------------------------------------------------------------------------------------------------------
Задача 22.
Нецелым НОД не может быть:
Наибольшим общим делителем нескольких чисел является самое большое целое число, на которое делятся все эти числа.

Тогда осталось доказать, что НОД в этом случае не может быть 1.

Пойдём от противного. Пусть НОД (a, b) = 1 =˃ НОК = ab =˃ (a-b) ^2 = ab
a^2 – 2ab + b^2 = ab
a^2 + b^2 = 3ab
Значит a^2 + b^2 делится на 3.
А когда сумма двух чисел делится на 3?
Когда они оба делятся на 3, или сумма остатков от деления на 3 каждого из этих чисел делится на 3.
А когда сумма двух остатков (если они меньше 3) делится на 3 когда эти остатки 1 и 2.
Но если b^2 (если а^2, то будет тоже самое, но где у нас в решении будет и было а, будет b, где было b, будет а) имеет остаток 2, то тогда b будет дробным.
Ведь остаток от деления квадрата на число равен квадрату остатка от деления на то число числа (которое мы в квадрат возводим).
То есть остаток от деления на 3 число b будет корень из 2, а это нецелое число.
Значит у нас а^2 и b^2 делятся на 3.
А a^2 – а*а, а*а делится на 3, а произведение делится на 3 только когда хотя бы один множитель делится на 3. У нас множители оба а =˃ а делится на 3.
Также доказываем, что b делится на 3.
А раз и а, и b делятся на 3, то и НОД их 3.
Противоречие =˃ НОД (а, b) ˃ 1, ч. и т. д..

-------------------------------------------------------------------------------------------------------------------
На доске указанного размера у игроков будет 9801 ход - 4901 ход у первого и 4900 у второго игрока. Докажем, что независимо от действий первого игрока, победит второй игрок.
Второй игрок на любое действие первого игрока должен ставить в клетки (-1). Рассмотрим, как он выиграет.
     При условии, что первый игрок начнет ходить с (+1) - это гарантированно дает второму игроку +1 при его ходе, и (-1) первому. В дальнейшем, благодаря ходу второго игрока (-1) ни первый, ни второй ничего не получат, и не потеряют. Дальше каждый (+1) первого игрока добавляет единицу второму, и забирает единицу у первого. А второй игрок своим ходом в (-1) сводит к нулю каждый положительный ход первого игрока. И получает каждый раз +1 за счет самого первого игрока. Так как второй должен сходить 4900 раз, значит и получит 4900 по (+1) =4900.
    При условии, что первый игрок начнет ходить с (-1) - это гарантированно дает ему лидерство +1 при первом ходе второго игрока и забирает (-1) у второго. (из 4901 ходов, это его первый ход, далее каждый игрок сделает по 4900 ходов, начиная со второго игрока). Второй ставит тоже (-1).Тогда первый игрок при своем втором ходе (не важно как пойдет) на доске имеет модуль -2, значит он отдает второму 2 очка. В итоге у 1 игрока будет +1-2=-1,
а у второго будет -1+2=1. То есть отвечая, на каждый отрицательный ход первого игрока тоже отрицательным ходом, за каждую пару выполненных ходов второй будет получать +1 от первого. Так как ходов таких пар по 4900 у каждого, значит второй получит +4900.
    Таким образом, пара отрицательных ходов игроков будут уводить на -1 первого игрока и на +1 второго игрока.
-------------------------------------------------------------------------------------------------------------------
Всего есть 10 цифр, а в числах Матроскина (100 * 4) 400 цифр. Минимум максимальное количество одинаковых цифр среди этих чисел - 40 (если меньше 40, то 10 * <40=<400 чего не может быть). То есть какая-то цифра встречается минимум в 40 числах. В этих 40 числа есть ещё (3 * 40) 120 мест для других цифр. Предположим что утверждение в задаче не верно. Тогда каждая из 9 цифр не может находиться в одном числе с другой более чем 13 раз, то есть стоять с цифрой, находящейся в максимальном количестве чисел, могут максимум (13 * 9) 117 других чисел, а у нас должно их быть минимум 120. Противоречие. Утверждение из задачи верно.(убрались знаки умножения)
-------------------------------------------------------------------------------------------------------------------
Условно разделим n на две части: 1) n=1; 2) n >= 2.
В первом случае все очевидно верно: 2^1+1=3, а 3 - 3^1. Верно!
Во втором случае: Пусть 2^n+1 = 3^m.
2^n = 3^m - 1
Но заметим (3-1)*(3^(m-1) + 3^(m-2)+ ... + 3 + 1). После раскрытия скобок получаем 3^m - 1.
2^n = 2*(3^(m-1) + 3^(m-2)+ ... + 3 + 1)
Откуда (3^(m-1) + 3^(m-2)+ ... + 3 + 1) = 2^(n-1) (А значит что четное число, ибо степень двойки).
Но любая степень степень тройки помимо 1 - нечетное число в сумме должно быть нечетное число троек, чтобы она была четной, откуда в сумме четное число слагаемых и нечетное количество натуральных степеней 3, откуда 3^(m-1) - есть число с нечетным показателем степени, откуда 3^m - если число с четным показателем степени. пусть m=2*k. Тогда 2^n = 3^(2k)-1=(3k)^2-1=(3^k - 1)*(3^k + 1). Получаем что (3^k - 1), (3^k + 1) - степени 2, иначе есть другие простые числа(отличные от 2) в разложение степени 2, противоречие.
Но 3^k+1 - (3^k-1) = 2, т.е  эти степени 2 отличаются на 2, а значит это 2 и 4. А значит единственный вариант - 3.
Ответ: 1, 3.
-------------------------------------------------------------------------------------------------------------------

__Файл solution_log.csv__

__Возмножно, неинформативные колонки:__ id, score, review_status (значение not_reviewed соответствует значению not_ready колонки verdict), review_user_id, содержимое ответа ученика и комментарий преподавателя заменяется на размер текста в символах, также колонки со временем удобнее будет заменить на время ответа (возможно, в часах)

In [148]:
print(rpath)
solution_log = pd.read_csv(rpath+'solution_log.csv')
solution_log['size_of_answer'] = solution_log['users_answer'].apply(lambda x: len(str(x)))
solution_log['size_of_review'] = solution_log['review'].apply(lambda x: len(str(x)))
solution_log = solution_log.dropna(subset=['review_time'])
solution_log = solution_log.reset_index(drop=True)

solution_log = solution_log.drop(columns=['users_answer', 'review_user_id', 'review', 'id', 'score', 'review_status'])
solution_log

courses_with_manual_check/math/294/

,tries_count,hints_used,submission_time,element_progress_id,verdict,review_time,size_of_answer,size_of_review
0,1,0,2021-03-27 17:44:57.607247,82569258,ok,2021-03-28 18:04:20.408749,90,34
1,1,0,2021-03-27 15:37:50.113886,84502391,partly,2021-03-27 16:43:33.228312,550,241
2,2,0,2021-03-27 19:50:33.567383,82569006,partly,2021-03-28 18:08:57.773917,182,481
3,1,0,2021-03-27 20:58:08.907294,82569264,partly,2021-03-28 18:10:13.483306,90,34
4,1,0,2021-03-27 20:43:13.407237,82568976,ok,2021-03-28 18:06:28.308071,90,34
...,...,...,...,...,...,...,...,...
722,1,0,2021-04-27 19:44:27.807696,87519291,ok,2021-04-28 12:57:14.715324,90,34
723,1,0,2021-04-20 18:35:47.476897,87519297,ok,2021-04-21 07:29:59.713356,134,34
724,1,0,2021-04-23 09:30:05.021934,87519567,ok,2021-04-23 19:23:16.817287,90,34
725,1,0,2021-05-04 18:54:53.328088,87519345,ok,2021-05-05 17:26:25.952744,90,34
726,1,0,2021-04-21 13:18:58.613701,87519393,ok,2021-04-21 21:03:31.407699,90,34

In [149]:
import datetime
from datetime import datetime
def magic(date):
    date = date[:4]+' '+date[5:7]+' '+date[8:]       
    return date[:18]
difference = []
for i in range(len(solution_log['review_time'])):
        a = datetime.strptime(magic(solution_log['submission_time'][i]), '%Y %m %d %H:%M:%S')
        b = datetime.strptime(magic(solution_log['review_time'][i]), '%Y %m %d %H:%M:%S')
        difference.append(b - a)
solution_log['time_of_expectation'] = difference
solution_log = solution_log.drop(columns=['submission_time', 'review_time'])

In [150]:
solution_log

,tries_count,hints_used,element_progress_id,verdict,size_of_answer,size_of_review,time_of_expectation
0,1,0,82569258,ok,90,34,1 days 00:19:57
1,1,0,84502391,partly,550,241,0 days 01:05:58
2,2,0,82569006,partly,182,481,0 days 22:18:02
3,1,0,82569264,partly,90,34,0 days 21:12:01
4,1,0,82568976,ok,90,34,0 days 21:23:01
...,...,...,...,...,...,...,...
722,1,0,87519291,ok,90,34,0 days 17:12:59
723,1,0,87519297,ok,134,34,0 days 12:54:01
724,1,0,87519567,ok,90,34,0 days 09:53:01
725,1,0,87519345,ok,90,34,0 days 22:31:57
726,1,0,87519393,ok,90,34,0 days 07:44:58

In [151]:
one_hot = {'partly':0,'wrong':0,'ok':1}
solution_log['hours_diff']=solution_log['time_of_expectation'].apply(lambda x: x.days*24+x.seconds//3600)
solution_log['verdict']=solution_log['verdict'].map(one_hot).astype(int)
solution_log

,tries_count,hints_used,element_progress_id,verdict,size_of_answer,size_of_review,time_of_expectation,hours_diff
0,1,0,82569258,1,90,34,1 days 00:19:57,24
1,1,0,84502391,0,550,241,0 days 01:05:58,1
2,2,0,82569006,0,182,481,0 days 22:18:02,22
3,1,0,82569264,0,90,34,0 days 21:12:01,21
4,1,0,82568976,1,90,34,0 days 21:23:01,21
...,...,...,...,...,...,...,...,...
722,1,0,87519291,1,90,34,0 days 17:12:59,17
723,1,0,87519297,1,134,34,0 days 12:54:01,12
724,1,0,87519567,1,90,34,0 days 09:53:01,9
725,1,0,87519345,1,90,34,0 days 22:31:57,22
726,1,0,87519393,1,90,34,0 days 07:44:58,7

In [152]:
solution_log.to_csv('test_ready_data.csv', index=False)

__Некоторые характеристики__